.form {
  width: 100%;
  padding: 40px;
}
.form__title {
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}
textarea {
  padding: 12px 16px;
  height: 120px;
  resize: none;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-field__comm:focus,
.form-field__comm:hover,
.form-field__comm:active {
  border-color: $accent-color;
  outline: none;
  cursor: pointer;
}
.form-field {
  display: flex;

  flex-direction: column;
  margin-bottom: 10px;
  text-align: start;
}

.form-field label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: #757575;
}
.form-field input {
  padding-top: 11px;
  padding-bottom: 11px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field textarea::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-feild__icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-feild__input:focus,
.form-feild__input:hover,
.form-feild__input:active {
  border-color: $accent-color;
  outline: none;
  cursor: pointer;
}

.form-feild__input:focus + .form-feild__icon,
.form-feild__input:hover + .form-feild__icon,
.form-feild__input:active + .form-feild__icon {
  fill: $accent-color;
}

textarea:focus {
  border-color: $accent-color;
  outline: none;
}
.form-policy__agreement {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: #757575;
}
.form-policy__link {
  margin-left: 5px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: $accent-color;
}

.form-button {
  font-size: 16px;
  line-height: 1.87;
  display: inline-block;
  align-items: center;
  text-align: center;
  padding: 10px 55px;
  margin-top: 30px;
  margin-bottom: 40px;
  letter-spacing: 0.06em;
  color: #fff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}
.form-feild__input {
  padding-left: 42px;
}
.form-feild__thumb {
  position: relative;
  width: 100%;
  height: 100%;
}

.form-feild__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}
.form-policy {
  display: flex;
  padding-top: 20px;
  justify-content: center;
  align-items: center;
}
.form-policy__checkbox {
  width: 16px;
  height: 15px;
}

.form-policy__agreement {
  display: flex;
  align-items: center;
}

.form-policy__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.form-policy__icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 7px;
}
.form-policy__checkbox:checked + .form-policy__icon {
  background-color: $accent-color;
  border: none;
  background-image: url("../background-img/Vector.svg");
  background-size: contain;
  background-position: center;
  background-origin: border-box;
  background-repeat: no-repeat;
  background-size: 11.2px 8.2px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
